@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --background-color: #0F0606;
  --text-color: white;
  --heading-color: white;
  --link-color: white;
  --hover-link-color: underline;
  --card-background: #200B0B;
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --hover-box-shadow-color: #2F0000;
  --description-color: #555;
}

.logo{border-radius:10px;max-width:100%;height:auto;}
.av{vertical-align:middle;width:50px;height:50px;border-radius:50%;}
body {
  line-height: 1.45;
  margin: 0 auto;
  max-width: 45rem;
  padding: 15px;
  font-size: 20px;
  font-family: 'Barlow', sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}
.header-container {
      text-align: center;
      padding: 20px;
    }
    h1 {
      margin: 0;
      padding-bottom: 1px;
    }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: var(--heading-color);
}

img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

a:link, a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: var(--hover-link-color);
}

.recipe-card {
  box-shadow: 0 4px 8px 0 var(--box-shadow-color);
  transition: 0.3s;
  margin-bottom: 20px;
  background: var(--card-background);
  border-radius: 10px;
  overflow: hidden;
  width: 48%;
  margin-right: 2%;
  box-sizing: border-box;
}

.recipe-card:hover {
  box-shadow: 0 8px 16px 0 var(--hover-box-shadow-color);
}

.recipe-img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.recipe-details {
  padding: 15px;
}

.recipe-title {
  margin-top: 0;
}

.recipe-description {
  color: var(--description-color);
}

.clearfix {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-container {
  background: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
  margin-top: 20px; 
}

.footer-content {
  font-size: 16px;
}

.footer-content a {
  color: var(--link-color);
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: var(--hover-link-color);
}

@media (max-width: 767px) {
  .recipe-card {
    width: 100%;
    margin-right: 0;
  }
}
